# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Среда выполнения
node_modules/
dist/
dist-ssr/
*.local

# Редакторы
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Окружение
.env
.env.local
.env.*.local

# Кеш
.cache/
.temp/